@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');

footer.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DDDDDD;
    font-size: 1em;
    height: 20vh;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    background: url('../../imgs/BG-3.png');
}

footer.footer div.footer_container p{
    padding: 5px auto;
    margin-top: 15px;
}