.logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo h1 {
    margin: 10px;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #CC704B,
        1.25px 1.25px 0px #CC704B,
        2px 2px 0px #CC704B,
        3px 3px 0px #CC704B;
}

.form_login .background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.form_login .background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 35%;
}

.form_login .shape:first-child {
    background: linear-gradient(#658864,
            #B7B78A);
    left: -80px;
    top: -80px;
}

.form_login .shape:last-child {
    background: linear-gradient(to right,
            #FEC868,
            #FDA769);
    right: -30px;
    bottom: -80px;
}

.form_login form {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.form_login form * {
    font-family: 'Poppins', sans-serif;
    color: #080710;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.form_login form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.form_login label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.form_login input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #080710;
}

.form_login button {
    margin-top: 50px;
    width: 100%;
    background-color: #080710;
    color: #EEEEEE;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.form_login .social {
    margin-top: 30px;
    display: flex;
}

.form_login .social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #EEEEEE;
    text-align: center;
}

.form_login .social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.form_login .social .fb {
    margin-left: 25px;
}

.form_login .social i {
    margin-right: 4px;
}