.user_zone {
    width: 100%;
    display: grid;
    grid-template-columns: 250 200;
    text-align: center;
}

.user_zone .btn_zone {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}

.user_zone .btn_zone button:nth-child(2) {
    background-color: black;
    color: blanchedalmond;
    padding: 10px 45px;
    border-radius: 12px;
    border: 0;
    text-shadow: .5px .25px .5px solid black;
}

.user_zone .btn_zone a {
    background-color: burlywood;
    color: antiquewhite;
    border: 0;
    padding: 15px;
    border-radius: 50%;
}

.user_zone .btn_zone a:hover {
    background-color: antiquewhite;
    color: burlywood;
}