.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
  }
  
.todo{
    background-color: #EEEEEE;
    min-height: 72.2vh;
    margin: 0;
}

