.form_task_add input[type=button] {
    padding: 8px;
}


.form_task_add_container input[name=task] {
    border: 0;
    border-bottom: 1.5px solid black;
}

.form_task_add_container select {
    border: .75px solid black;
}

.form_task_add_container * {
    margin: 6px;
    padding: 5px;
}